/*
Theme Name: Nedelja parlamentarizma
Description: Teme kreairana za potrebe sajta Nedelja parlamentarizma
Author: GBI d.o.o.
Author URI: http://www.gbi.rs
Version: 1.9.7.6
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: responsive

*/

#container {
	max-width: 1024px;
	background-color: #FFFFFF;
	padding: 0px;	
}

.container {
	max-width: 1024px;
	position: relative;
}

.main-content {
	background-color: #e5f0f8;
	padding: 30px 32px 10px;
}

#content-archive {
    min-height: 250px;
}

a {
    color: #486298;
}

a.link {
	text-decoration: underline;
}

a.link-blue {
	color: #304A80;
	text-decoration: underline;
}

p {
	margin: 7px 0px;
}

#header {
}

.menu a {
	color: #486298;
	font-size: 16px;
}

.menu.dani a {
    font-size: 12px;
    /*font-size: 15.7px;*/
    padding-left: 2em;
    padding-right: 1em;
}

.menu li {
padding: 5px 0px;
}

.menu.dani li.active {
    padding-bottom: 0px;
    border-bottom: 5px solid #9DC74C;
}

.main-menu-container {
	background-color: #ace0f8;
	width: 960px;
	padding: 0px 32px;
	position: fixed;
	z-index: 999;
    top: 0px;
}

.main-menu-container .right {
	line-height: 25px;
	margin-top: 12px;
}

#menu-main-menu {
	/*font-family: "Myriad Pro";*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #486298;
	float: left;
}

.main-nav-section {
	position: relative;
	width: auto;
}

.main-menu-section .right {
	height: auto !important;
  	width: auto;
}

.menu li.current-menu-item,
.menu li.current-page-ancestor,
.menu li.current-menu-parent,
.menu li.current-post-parent,
.menu li.active-custom {
	padding-bottom: 0px;
	border-bottom: 5px solid #9DC74C;
}

/* BUTTONS
-----------------------------*/

.np-button {
	-webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    /*font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;*/
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: normal;
    line-height: normal;
    /*margin: 0 0 1.11111rem;*/
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 4px 10px;
    font-size: 16px;
    /*background-color: #008CBA;*/
    /*border-color: #007095;*/
    /*color: #FFFFFF;*/
    transition: background-color 300ms 
}

.np-green {
	background-color: #9dc74c;
	color: #FFFFFF;
	text-transform: uppercase;
}

.np-blue {
	background-color: #304a80;
	color: #FFFFFF;
	font-weight: bold !important;
}

.np-green:hover {
	color: #FFFFFF;
}

.np-search {
	width: 200px;
}

.input-group {
	position: relative;
	display: table;
	border-collapse: separate;
	margin-bottom: 10px;
}

.input-group .form-control {
	display: table-cell;
	position: relative;
	z-index: 2;
	float: left;
	width: 100%;
	margin-bottom: 0px;
}

.form-control {
	display: block;
	width: 100%;
	height: 30px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857;
	color: #555;
	background-color: #FFF;
	background-image: none;
	border: 0px solid transparent;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

textarea.form-control {
  height: auto;
}

.input-group-btn {
	position: relative;
	font-size: 0px;
	white-space: nowrap;
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
	display: table-cell;
} 

.input-group-btn:last-child > .btn {
	margin-left: -1px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.input-group-btn > .btn {
    position: relative;
}

.btn-default {
	color: #333;
	background-color: #FFF;
	border-color: #CCC;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0px;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-moz-user-select: none;
	background-image: none;
	border: 1px solid transparent;
}

.logo-container {
	/*padding: 0 95px;*/
	margin-top: 55px;
}

#logo {
	padding: 35px 0;
}

.logo-description {
	margin-top: 65px;
	color: #5f6161;
	/*font-family: 'Helvetica',  sans-serif;*/
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 300;
	padding: 0 7px;
}

.img-bcg {
	width: 100%;
	height: auto;
	position: absolute;
}

.footer-table {
	z-index: 99;
	position: relative;
	border: 0px solid transparent;
	/*margin-top: 50px;*/
	/*margin-right: 180px;*/
	/*margin-bottom: 50px;*/
	border-spacing: 10px;
    margin: 50px auto;
}

.footer-table a {
	font-weight: bold;
}

.footer-table td {
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

.social-icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	line-height: 32px;
	border-radius: 50%;
	margin-right: 3px;
}

.social-icon.fa-facebook {
	background-color: #3e599b;
	color: #FFFFFF;
}

.social-icon.fa-twitter {
	background-color: #49a9e2;
	color: #FFFFFF;
}

.partners {
	position: relative;
	padding: 0 64px;
	margin-top: 32px;
}

.partners .grid {
	text-align: center;
}

.partners .grid img {
	margin: 0 auto;
}

.footer-bcg {
	background-image: url("img/footer-img.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
    padding: 50px 0px;
}

/* BOXES 
---------------------------- */

.info-box {
	/*box-sizing: border-box;*/
	background-color: #d8e7f2;
	border-bottom: 10px solid #c7dae7;
	/*padding: 5px 15px;*/
	/*min-height: 330px;*/
    position: relative;
    overflow: hidden;

}

.info-box-text {
    box-sizing: border-box;
    position: absolute;
    padding: 15px 20px;
    top: 0px;
    left: 0px;
    width: 100%;
    /*background: -webkit-linear-gradient(white, black); *//* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(white, black); *//* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(white, black); *//* For Firefox 3.6 to 15 */
    /*background: linear-gradient(white, black); *//* Standard syntax */
}

.info-box .innerCont {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    /* background: transparent url("img/senka.png") repeat-x scroll center bottom; */
    height: 100%;
    opacity: 0.7;
}

.col-460.info-box-no-img {
    height: 337px;
}

.col-300.info-box-no-img {
    height: 306px;
}

/* FORMS
---------------------------- */


form.cmxform {
	/*width: 370px;*/
	font-size: 1.0em;
	color: #333;
    padding: 5px 15px;
}

form.cmxform legend {
	padding-left: 0;
}

form.cmxform legend, form.cmxform label {
	color: #333;
}

form.cmxform fieldset {
	border: none;
	border-top: 1px solid #C9DCA6;
	background: url(../images/cmxform-fieldset.gif) left bottom repeat-x;
	background-color: #F8FDEF;
}

form.cmxform fieldset fieldset {
	background: none;
}

form.cmxform fieldset p, form.cmxform fieldset fieldset {
	padding: 5px 10px 7px;
	background: url(../images/cmxform-divider.gif) left bottom repeat-x;
}

form.cmxform label.error, label.error {
	/* remove the next line when you have trouble in IE6 with labels in list */
	display: inline-block;
	color: red;
	font-style: italic
}
div.error { display: none; }
input {	border: 1px solid black; }
input.checkbox { border: none }
input.error { border: 1px dotted red; }
form.cmxform .gray * { color: gray; }

/**********************************

Use: cmxform template

***********************************/
form.cmxform fieldset {
	margin-bottom: 10px;
}

form.cmxform legend {
	padding: 0 2px;
	font-weight: bold;
	_margin: 0 -7px; /* IE Win */
}

form.cmxform label {
	display: block;
	line-height: 1.8;
	vertical-align: top;
	cursor: hand;
}

form.cmxform fieldset p {
	list-style: none;
	padding: 5px;
	margin: 0;
}

form.cmxform fieldset fieldset {
	border: none;
	margin: 3px 0 0;
}

form.cmxform fieldset fieldset legend {
	padding: 0 0 5px;
	font-weight: normal;
}

form.cmxform fieldset fieldset label {
	display: block;
	width: auto;
}

/*form.cmxform label { width: 100px; } /* Width of labels */
form.cmxform fieldset fieldset label { margin-left: 103px; } /* Width plus 3 (html space) */
form.cmxform label.error {
	margin-left: 10px;
	/*width: 220px;*/
}

form.cmxform input.submit {
	margin-left: 103px;
}

#responsive_menu_button .fa-bars {
    display: none;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.post-meta h1 {
    color: #486298;
}

.widget-wrapper li {
    padding: 7px 0;
}

.widget-wrapper li:not(:last-child) {
    border-bottom: 1px solid #E6F2FB;
}

/*\*//*/ form.cmxform legend { display: inline-block; } /* IE Mac legend fix */

/* RESPONSIVE 
---------------------------- */

@media screen and (max-width: 1024px) {
	.main-menu-container {
		width: 90%;
		padding: 0px;
	}
}

@media screen and (max-width: 980px) {
	.grid {
		float: left;
	}

    /*.col-300 {*/
        /*width: 31.9149%;*/
    /*}*/

	.grid.col-220 {
		width: 48.936170212766%;
	}

	.logo-description {
		margin-top: 2px;
	}

    .info-box {
        min-height: unset;
        height: auto;
    }
}

@media screen and (max-width: 650px) {
	.grid {
		float: left;
	}

	.grid.col-220 {
		width: 48.936170212766%;
	}

	.logo-description {
		margin-top: 2px;
	}

	.np-search {
		display: none;
	}

    .js .main-nav {
        background-color: #ACE0F8;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#ACE0F8), to(#ACE0F8));
        background-image: -webkit-linear-gradient(top, #ACE0F8, #ACE0F8);
        background-image: -moz-linear-gradient(top, #ACE0F8, #ACE0F8);
        background-image: -ms-linear-gradient(top, #ACE0F8, #ACE0F8);
        background-image: -o-linear-gradient(top, #ACE0F8, #ACE0F8);
        background-image: linear-gradient(top, #ACE0F8, #ACE0F8);
    }

    #responsive_menu_button .fa-bars {
        display: inline-block;
        vertical-align: bottom;
        color: #ffffff;
    }

	.footer-bcg {
		background-image: none;
		background-color: #4f6aa5;
	}

	.footer-table {
		margin-left: auto;
		margin-right: auto; 
	}


}

@media screen and (max-width: 480px) {
    h3 {
        margin-top: 0.557em;
        margin-bottom: 0.557em;
        font-size: 1.575em;
    }

	.partners {
		padding: 0 0px;
	}
	
	.grid {
		float: left;
	}

	.grid.col-220 {
		width: 48.936170212766%;
	}

	.logo-description {
		margin-top: 2px;
	}

	.np-search {
		display: none;
	}

    .js .main-nav {
        width: 50%;
    }
}